{% extends "layout.html" %}

{% block title %}
chai aur tweet
{% endblock %}
 
{% block content %}

<a class="btn btn-primary mt-5" href="{%url 'tweetcreat'%}">Creat a tweet</a>
<div class="container row gap-3 mt-5">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.user.username}}</h5>
          <p class="card-text">{{tweet.text}}</p>
          <a href="{% url 'tweetedit' tweet.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'tweetdelete' tweet.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>


{% endblock %}